

html, body{
    background-color: #111111;
    height: 100%;
    margin: 0px;

}
html{
    scroll-behavior: smooth;
}

.logo{
   height:100%;
   width:100%;
   
  /* background-color:#333333;*/

    
}


.svg{
    filter: saturate(100%) brightness(1500%);
}

.png{
    filter: invert(0%);
}

#container{
    max-width:1400px;
    height:100%;
}
 #content{
     background:#111111;
     margin-top:50px;
 
 }

 .bg-black{
    background-color: #111111;
 }

 .lb-text{
     color:#D6D7D1;
 }

 .navbar,.navbar-dark{
     height:50px;
     width:100%;
     padding-top:0;
     padding-bottom:0;
     padding-left:20px;
     margin-left:0;
 }


 .fixed-top{
     padding-left:0;
     margin-left:0;
     
 }
.navbar-custom{
    background-color:#111111;
}


.transform {
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
  }

  .transform-active {
   
    height: 0%;
    filter: saturate(100%) brightness(0%);
    
  }

.btn{
    background-color: #222222;
    border-color: #111111;
}
.btn:hover{
    background-color:#333333;
    border-color:#222222;
}
.btn:active{
    background-color:#444444;
    border-color:#333333;
}

.modal-lg{
    max-width: 1400px;
}