

html, body{
    
    height: 100%;
    margin: 0px;
    color:white;
    

}
html{
    scroll-behavior: smooth;
}




.svg{
    filter: saturate(100%) brightness(1500%);
}

.png{
    filter: invert(0%);
    object-fit: scale-down;
}

#container{
    max-width:1400px;
    height:100%;
}
 #content{
    /* background:#111111;*/
     
 
 }

 .bg-black{
    background-color: #111111;
 }

 .bg-black2{
    background-color: #222222;
 }

 .card{
    margin-top:6em;
    
    border-color:white;
 }

 .lb-text{
     color:#D6D7D1;
 }

 .navbar,.navbar-dark{
     height:6rem;
     width:100%;
     padding-top:0;
     padding-bottom:0;
     padding-left:20px;
     margin-left:0;
 }



 .fixed-top{
     padding-left:0;
     margin-left:0;
     
 }



#nav {
   /* text-align:center; */

    
   /* background-color: #444444;*/
    z-index: 10000;
}
 
.nav-appear{
    /* height:5em; */
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
}





.logo{
    width:100%;
    object-fit: scale-down;
   
  /* background-color:#333333;*/  
}


#vali{
    margin-bottom:10px;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
 }

.transform {
   
    height:100%;


    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
  }

  .transform-active {
   
    height: 0%;
    
    filter: saturate(100%) brightness(0%);
    
  }

.btn{
    background-color: #222222;
    border-color: #111111;
}
.btn:hover{
    background-color:#333333;
    border-color:#222222;
}
.btn:active{
    background-color:#444444;
    border-color:#333333;
}


.modal-lg{
    max-width: 1400px;
}

.modal {
    z-index: 10001;
}