

html, body{
    background-color: #111111;
    height: 100%;
    margin: 0px;

}
html{
    scroll-behavior: smooth;
}

.logo{
   height:100%;
  /* background-color:#333333;*/
   
    
}


.svg{
    filter: saturate(100%) brightness(500%);
}

.png{
    filter: invert(15%);
}

#container{
    max-width:1400px;
    height:100%;
}
 #content{
     background:#222222;
     margin-top:50px;
 }

 .bg-black{
    background-color: #111111;
 }
.minilogo{
     height:40px;
     
     
 }

 .lb-text{
     color:#D6D7D1;
 }

 .navbar,.navbar-dark{
     height:50px;
     width:100%;
     padding-top:0;
     padding-bottom:0;
     padding-left:20px;
     margin-left:0;
    

 }
 .fixed-top{
     padding-left:0;
     margin-left:0;
     
 }
.navbar-custom{
    background-color:#111111;
}


.transform {
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease;  
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease;  
    transition: all 2s ease;
  }

  .transform-active {
   
    height: 200px;
    
  }

.btn{
    background-color: #222222;
    border-color: #111111;
}